.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.presentation{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameCompany{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #FDB600;
}

.slogan {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  margin-top: -26px;
  color: #000000;
}

.p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
margin-top: -26px;
color: #000000;
}
.viewProducts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 146px;
  height: 52px;
  background: #000000;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  color: #FFFFFF;
}

.info {
  margin-top: 60px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */


  color: #000000;
}

.backCatalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  width: 380px;
  height: 62px;
  top: 750px;
  left: calc(50% - 190px);
  /* el 50% es el centro de la pantalla y 190px es la mitad del ancho del botón */
  background: #FFFFFF;
  border: 1px solid #BDBCC3;
  border-radius: 8px;
}

.backText {
  width: 175px;
  font-weight: bold;
}

.date {

  font-weight: bold;
}