.logo {
  margin-left: 10px;
  width: 159px;
  height: 19px;
  color: #FDB600;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 87.5%;
}
  
.title{
  color: black;
}